:root {
  --bg-body: #fff;
  --bg-body-dark: rgb(36, 36, 36);
  --bg-header: #fff;
  --bg-header-dark: rgb(36, 36, 36);
  --color-header: #000;
  --color-header-dark: #fff;

  --primary: #70370e;
  --primary-dark: #e4ba77;
  --accent: #fff3e4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: var(--bg-body);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.home-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

svg:hover {
  fill: var(--primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--bg-body-dark);
  }
  svg {
    fill: white;
  }
  svg:hover {
    fill: var(--primary-dark);
  }
  a:hover {
    color: var(--primary-dark);
  }
}
